<!-- <head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> 
</head> -->
<br>
<h2 id="page-heading">
  <span>Questions</span>
  <button id="jh-create-entity" style="margin-left: 200px;border-radius: 3px;" class="btn btn-primary" (click)="showCNQ()">
    <fa-icon [icon]="'plus'"></fa-icon>
    <span>Create a new Question</span>
  </button>
</h2>
<hr *ngIf="questions?.length === 0">
<div class="alert alert-warning" *ngIf="questions?.length === 0">
  <span>No questions found</span>
</div>
<hr>
<div *ngIf="questions?.length > 0" class="example-list" cdkDropList [cdkDropListData]="questions" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let question of questions" cdkDrag class="example-box">
              <!-- <div class="well" style="margin-right: 50px;border-radius: 20px;background-color:mediumaquamarine;padding: 20px;font-family:  'Lato', sans-serif;">
                <h3>Question {{question.sequence}}
                  <button type="submit" (click)="showModal(question)" class="btn btn-primary btn-sm" style="margin-left: 100px;border-radius: 8px;">
                      <fa-icon [icon]="'eye'"></fa-icon>
                  </button>
                  <button type="submit" (click)="toggleDiv(question)" class="btn btn-primary btn-sm" style="margin-left: 10px;border-radius: 8px;">
                    <i class="fa" [ngClass]="{'fa-unlock-alt': !hide[question.id-1], 'fa-lock': hide[question.id-1]}" aria-hidden="true"></i>
                </button>
                </h3>
                <h5 *ngIf="!hide[question.id-1]">Description : {{question.description}}</h5> background-color: rgb(29, 25, 25);
              </div> -->
              <div class="card text-white" style="width: 95%;background-color: darkslategrey;">
                <div class="card-body">
                  <h4 class="card-title">Question {{question.sequence}}
                    <button type="submit" *ngIf="!hide[question.id-1]" (click)="showModal(question)" class="btn btn-info btn-sm" style="margin-left: 100px;border-radius: 8px;">
                      <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    </button>
                  <button type="submit" (click)="toggleDiv(question)" class="btn btn-warning btn-sm" style="margin-left: 10px;border-radius: 8px;">
                    <i class="fa" [ngClass]="{'fa-unlock-alt': !hide[question.id-1], 'fa-lock': hide[question.id-1]}" aria-hidden="true"></i>
                  </button>
                  <button type="submit" *ngIf="!hide[question.id-1]" (click)="deleteQuestion(question)" class="btn btn-danger btn-sm" style="margin-left: 10px;border-radius: 8px;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  </h4>
                  <h5 *ngIf="!hide[question.id-1]" class="card-text" style="color: gainsboro;">{{question.description}}</h5>
                </div>
              </div> 
              <br>
      </div>
    <br>
</div>
<!--Modal-->
<div #modef mdbModal #basicModal="mdbModal" class="modal zoomIn animated" id="frameModalTop"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="margin-top: 40px;font-family: 'Roboto',sans-serif;" [config]="{backdrop: 'static'}" (click)="onClick($event)" >

  <div class="modal-dialog modal-dialog-scrollable form-dark" role="document" style="overflow-y: initial !important;">
    
    <mdb-card style="background-image: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg)" class="modal-content">
      
        <div class="modal-header text-center" style="color: whitesmoke;">
          <h4 class="modal-title w-100 font-weight-bold py-2">Question {{editQuestion.sequence}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal(editQuestion)">
            <span aria-hidden="true" class="white-text" style="margin-bottom: 60px;color: whitesmoke;">&times;</span>
          </button>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="saveQuestion()" #editForm="ngForm" style="overflow-y: auto;">
          <div class="modal-body" >
            <div style="background-color: dodgerblue;padding: 10px;border-radius: 4px;cursor: pointer;margin-right: 15px;margin-left: 15px;" (click)="toggleQCollapse(editQuestion,$event)">
              <span style="color: whitesmoke;font-size: 20px;">Question Details</span>
              <i class="fa" [ngClass]="{'fa-angle-down': !isQCollapsedarr[editQuestion.id-1],'fa-angle-up': isQCollapsedarr[editQuestion.id-1] }" style="margin-left: 220px;font-size:21px;color: whitesmoke;"></i>
            </div>
            <div [ngClass]="{'card': isQCollapsedarr[editQuestion.id-1]}" [collapse]="!isQCollapsedarr[editQuestion.id-1]"  style="padding: 10px;margin-right: 15px;margin-left: 15px;">
              <div class="card-body">
              <br>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="md-textarea form-control" mdbInput name="description" 
                [(ngModel)]="editQuestion.description" required maxlength="2000"></textarea>
              </div>
              <div class="form-group">
                Min Experience : 
                <input type="number" class="form-control" name="min_experience"
                [(ngModel)]="editQuestion.min_experience" min="0" />
              </div>
              <div class="form-group">
                <label for="sequence" >Sequence :
                <input type="number" class="form-control" name="sequence" id="sequence"
                [(ngModel)]="editQuestion.sequence"/> </label>
                <label style="margin-left: 60px;" class="checkbox-inline">IsActive : <input type="checkbox" name="isActive"
                  [(ngModel)]="editQuestion.isActive"></label>
              </div>
              <div class="form-group">
                <label for="skill">Skill : </label>
                <select class="form-control" id="field_skill" name="skill" [(ngModel)]="editQuestion.skill" >
                  <option [ngValue]="null"></option>
                  <option [ngValue]="skillOption.id === editQuestion.skill?.id ? editQuestion.skill : skillOption" *ngFor="let skillOption of partSkills; trackBy: trackSkillById">{{skillOption.name}}</option>
              </select>
              </div>
              <div class="form-group">
                <label for="topic">Topic : </label>
                <select class="form-control" id="field_topic" name="topic" [(ngModel)]="editQuestion.topic" >
                  <option [ngValue]="null"></option>
                  <option [ngValue]="topicOption.id === editQuestion.topic?.id ? editQuestion.topic : topicOption" *ngFor="let topicOption of partTopics; trackBy: trackTopicById">{{topicOption.name}}</option>
                </select>
              </div>
              </div>
            </div>
            <br>
            <div *ngIf="this.hasACs[editQuestion.sequence-1]" style="background-color: dodgerblue;padding: 10px;border-radius: 4px;cursor: pointer;margin-right: 15px;margin-left: 15px;" (click)="toggleACollapse(editQuestion,$event)">
              <span style="color: whitesmoke;font-size: 20px;">Answer Checks</span>
              <i class="fa" [ngClass]="{'fa-angle-down': !isACollapsedarr[editQuestion.id-1],'fa-angle-up': isACollapsedarr[editQuestion.id-1] }" style="margin-left: 228px;font-size:21px;color: whitesmoke;"></i>
              </h4>
            </div>
            <div *ngIf="this.hasACs[editQuestion.sequence-1]" [ngClass]="{'card': isACollapsedarr[editQuestion.id-1]}" [collapse]="!isACollapsedarr[editQuestion.id-1]" style="padding: 10px;margin-right: 15px;margin-left: 15px;">
              <div class="form-group">
                <h4 style="margin-left: 14px;">Answers : 
                </h4>
                <div *ngFor="let answerCheck of acArray[editQuestion.sequence-1]; let i=index">
                  <p>{{i+1}}) {{answerCheck.name}}</p>
                 
                  <div id='content' style="width:250px;">
                    <ejs-autocomplete id='games' #sample [dataSource]='eval2dArray[i]' [(value)]='valarr[i]'
                    [placeholder]='waterMark' [fields]='fields' (change)='onChange($event,i)'>
                    </ejs-autocomplete>
                    <br>
                    <div class="well" *ngIf="handleall[i].length>0" style="width: 180%;background-color: aliceblue;border-radius: 20px;padding: 20px;">
              
                      <span *ngFor="let val of handleall[i]" id="{{val}}" class="badge badge-info" style="margin-left:10px;margin-top: 10px;font-size: small;padding: 10px;">
                        {{val}}<span (click)="removeFromList(val,i,answerCheck)" style="margin-left: 20px;cursor: pointer;">&times;</span>
                      </span>
                    </div>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
            <br>
            <a class="mybtn blue" (click)="toggleNewACCollapse(editQuestion,$event)">
              <i class="fa fa-plus-square fa-3" style="color: whitesmoke;"></i>
              <span style="color: whitesmoke;font-size: 20px;margin-left: 10px;font-weight: normal;">New Answer Check</span>
            </a>
            <div [ngClass]="{'card': isNewACollarr[editQuestion.id-1]}" [collapse]="!isNewACollarr[editQuestion.id-1]" style="padding: 10px;margin-right: 15px;margin-left: 20px;">
              <div class="card-body">
                <div class="form-group">
                  <label class="form-control-label" for="field_name">Name</label>
                  <input type="text" class="form-control" name="name" id="field_name"
                      [(ngModel)]="newAC.name" />
                </div>
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-primary" (click)="addAC()">
                  <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="closeModal(editQuestion)">Cancel</button>
            <button mdbBtn type="submit" color="primary" class="waves-light" [disabled]="isSaving" mdbWavesEffect>Save
              <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
            </button>
          </div>
        </form>
    </mdb-card>
  </div>
</div>
    
<div #QM mdbModal #QModal="mdbModal" class="modal zoomIn animated" id="CreateQuestionModal"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabelQ" aria-hidden="true"
  style="margin-top: 40px;font-family: 'Roboto',sans-serif;" [config]="{backdrop: 'static'}" (click)="onClick($event)" >

  <div class="modal-dialog modal-dialog-scrollable form-dark" role="document" style="overflow-y: initial !important;">
    
    <mdb-card style="background-image: url(https://images6.content-hcs.com/commimg/myhotcourses/blog-inline/myhc_11514.jpg)" class="modal-content">
      
        <div class="modal-header text-center" style="color: whitesmoke;">
          <h4 class="modal-title w-100 font-weight-bold py-2">New Question</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCNQ()">
            <span aria-hidden="true" class="white-text" style="margin-bottom: 60px;color: whitesmoke;">&times;</span>
          </button>
        </div>
        <form name="createQuestionForm" role="form" novalidate (ngSubmit)="saveNewQ()" #createQuestionForm="ngForm" style="overflow-y: auto;">
          <div class="modal-body" style="color: whitesmoke;">
              <div>
                  <div class="form-group">
                      <label class="form-control-label" for="field_min_experience">Min Experience</label>
                      <input type="number" class="form-control" name="min_experience" id="field_min_experience"
                          [(ngModel)]="newQuestion.min_experience" min="0" jhiMin="0"/>
                      <div [hidden]="!(createQuestionForm.controls.min_experience?.dirty && createQuestionForm.controls.min_experience?.invalid)">
                          <small class="form-text text-danger"
                              [hidden]="!createQuestionForm.controls.min_experience?.errors?.min">
                              This field should be at least 0.
                          </small>
                          <small class="form-text text-danger"
                              [hidden]="!createQuestionForm.controls.min_experience?.errors?.number" >
                              This field should be a number.
                          </small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="form-control-label" for="field_description">Description</label>
                      <input type="text" class="form-control" name="description" id="field_description"
                          [(ngModel)]="newQuestion.description" required maxlength="2000"/>
                      <div [hidden]="!(createQuestionForm.controls.description?.dirty && createQuestionForm.controls.description?.invalid)">
                          <small class="form-text text-danger"
                          [hidden]="!createQuestionForm.controls.description?.errors?.required">
                          This field is required.
                          </small>
                          <small class="form-text text-danger"
                          [hidden]="!createQuestionForm.controls.description?.errors?.maxlength">
                          This field cannot be longer than 2000 characters.
                          </small>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="form-control-label" for="field_expected_answers">Expected Answers</label>
                      <input type="text" class="form-control" name="expected_answers" id="field_expected_answers"
                          [(ngModel)]="newQuestion.expected_answers" maxlength="2000"/>
                      <div [hidden]="!(createQuestionForm.controls.expected_answers?.dirty && createQuestionForm.controls.expected_answers?.invalid)">
                          <small class="form-text text-danger"
                          [hidden]="!createQuestionForm.controls.expected_answers?.errors?.maxlength">
                          This field cannot be longer than 2000 characters.
                          </small>
                      </div>
                  </div>
  
                  <div class="form-group">
                      <label class="form-control-label" for="field_sequence">Sequence</label>
                      <input type="number" class="form-control" name="sequence" id="field_sequence"
                             [(ngModel)]="newQuestion.sequence"/>
                  </div>
                  <div class="form-group">
                      <label class="form-control-label"for="field_isActive">Is Active</label>
                      <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                             [(ngModel)]="newQuestion.isActive"/>
                  </div>
                  <!--<div class="form-group" >
                    <label for="CNQskill">Skill</label>
                    <input type="text" class="form-control" id="CNQskill" name="id"
                        [value]="newQuestion.skill.name" readonly />
                  </div>
                   <div class="form-group" >
                    <label for="CNQtopic">Topic</label>
                    <input *ngIf="isReadOnlyT" type="text" class="form-control" id="CNQtopic" name="id"
                        [value]="newQuestion.topic.name" [readonly]="isReadOnlyT"/>
                    <select *ngIf="!isReadOnlyT" class="form-control" id="CNQtopic" name="topic" [(ngModel)]="newQuestion.topic" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="topicOption.id === newQuestion.topic?.id ? newQuestion.topic : topicOption" *ngFor="let topicOption of partTopics; trackBy: trackTopicById">{{topicOption.name}}</option>
                    </select>
                  </div> -->
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="closeCNQ()">Cancel</button>
            <button mdbBtn type="submit" color="primary" class="waves-light" [disabled]="isSaving" mdbWavesEffect>Save
              <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
            </button>
          </div>
        </form>
    </mdb-card>
  </div>
</div>

<div #DQ mdbModal #DQModal="mdbModal" class="modal zoomIn animated" id="DeleteQuestionModal"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabelDQ" aria-hidden="true"
  style="margin-top: 40px;font-family: 'Roboto',sans-serif;" [config]="{backdrop: 'static'}" (click)="onClick($event)" >

  <div class="modal-dialog modal-dialog-scrollable form-dark" role="document" style="overflow-y: initial !important;">
    
    <mdb-card style="background-image: url(https://image.freepik.com/free-vector/abstract-realistic-technology-particle-background_52683-33063.jpg)" class="modal-content">
      
        <div class="modal-header text-center" style="color: whitesmoke;">
          <h4 class="modal-title w-100 font-weight-bold py-2">Confirm delete operation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDQ()">
            <span aria-hidden="true" class="white-text" style="margin-bottom: 60px;color: whitesmoke;">&times;</span>
          </button>
        </div>
        <form name="DeleteQuestionForm" role="form" novalidate (ngSubmit)="confirmDelete(delQuestion)" #DeleteQuestionForm="ngForm" style="overflow-y: auto;">
          <div class="modal-body" style="color: whitesmoke;">
            <h4>Are you sure you want to delete this Question?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
            (click)="closeDQ()">Cancel</button>
            <button mdbBtn type="submit" color="danger" class="waves-light" mdbWavesEffect>
              <fa-icon [icon]="'times'"></fa-icon>&nbsp;&nbsp;<span>Delete</span>
            </button>
          </div>
        </form>
    </mdb-card>
  </div>
</div>



<!-- <div mdbModal #basicModal="mdbModal" class="modal zoomIn animated" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"  [config]="{backdrop: 'static'}" (click)="onClick($event)">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
  
    <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg')" class="modal-content">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
        
        <div class="modal-header text-center">
          <h3 class="modal-title w-100 white-text " id="myModalLabel">
            <strong>Question {{editQuestion.id}}</strong>
          </h3>
          <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close" (click)="closeModal(editQuestion)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <form name="editForm" role="form" novalidate (ngSubmit)="saveQuestion()" #editForm="ngForm" style="overflow-y: auto;">
          <div class="modal-body" >
            <div style="background-color: dodgerblue;padding: 10px;border-radius: 4px;cursor: pointer;" (click)="toggleQCollapse(editQuestion,$event)">
              <h4 style="color: whitesmoke;">Question Details
              <i class="fa" [ngClass]="{'fa-angle-down': !isQCollapsedarr[editQuestion.id-1],'fa-angle-up': isQCollapsedarr[editQuestion.id-1] }" style="margin-left: 20px;font-size:21px;"></i>
              </h4>
            </div>
            <div [ngClass]="{'card': isQCollapsedarr[editQuestion.id-1]}" [collapse]="!isQCollapsedarr[editQuestion.id-1]"  style="padding: 10px;">
              <div class="card-body">
              <br>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="md-textarea form-control" mdbInput name="description" 
                [(ngModel)]="editQuestion.description" required maxlength="2000"></textarea>
              </div>
              <div class="form-group">
                Min Experience : 
                <input type="number" class="form-control" name="min_experience"
                [(ngModel)]="editQuestion.min_experience" min="0" />
              </div>
              <div class="form-group">
                <label for="sequence" >Sequence :
                <input type="number" class="form-control" name="sequence" id="sequence"
                [(ngModel)]="editQuestion.sequence"/> </label>
                <label style="margin-left: 60px;" class="checkbox-inline">IsActive : <input type="checkbox" name="isActive"
                  [(ngModel)]="editQuestion.isActive"></label>
              </div>
              <div class="form-group">
                <label for="skill">Skill : </label>
                <select class="form-control" id="field_skill" name="skill" [(ngModel)]="editQuestionkill" >
                  <option [ngValue]="null"></option>
                  <option [ngValue]="skillOption.id === editQuestion.skill?.id ? editQuestion.skill : skillOption" *ngFor="let skillOption of partSkills; trackBy: trackSkillById">{{skillOption.name}}</option>
              </select>
              </div>
              <div class="form-group">
                <label for="topic">Topic : </label>
                <select class="form-control" id="field_topic" name="topic" [(ngModel)]="editQuestion.topic" >
                  <option [ngValue]="null"></option>
                  <option [ngValue]="topicOption.id === editQuestion.topic?.id ? editQuestion.topic : topicOption" *ngFor="let topicOption of topics; trackBy: trackTopicById">{{topicOption.name}}</option>
                </select>
              </div>
              </div>
            </div>
            <br>
            <div style="background-color: dodgerblue;padding: 10px;border-radius: 4px;cursor: pointer;" (click)="toggleACollapse(editQuestion,$event)">
              <h4 style="color: whitesmoke;">Answer Checks
              <i class="fa" [ngClass]="{'fa-angle-down': !isACollapsedarr[editQuestion.id-1],'fa-angle-up': isACollapsedarr[editQuestion.id-1] }" style="margin-left: 21px;font-size:21px;"></i>
              </h4>
            </div>
            <div [ngClass]="{'card': isACollapsedarr[editQuestion.id-1]}" [collapse]="!isACollapsedarr[editQuestion.id-1]"  style="padding: 10px;">
              <div class="form-group">
                <h4 style="margin-left: 14px;">Answers : 
                </h4>
                <div *ngFor="let answerCheck of acArray[editQuestion.id-1]; let i=index">
                  <p>{{i+1}}) {{answerCheck.name}}</p>
                 
                  <div id='content' style="width:250px;">
                    <ejs-autocomplete id='games' #sample [dataSource]='eval2dArray[i]' [(value)]='valarr[i]'
                    [placeholder]='waterMark' [fields]='fields' (change)='onChange($event,i)'>
                    </ejs-autocomplete>
                    <br>
                    <div class="well" *ngIf="handleall[i].length>0" style="width: 180%;background-color: aliceblue;border-radius: 20px;padding: 20px;">
              
                      <span *ngFor="let val of handleall[i]" id="{{val}}" class="badge badge-info" style="margin-left:10px;margin-top: 10px;font-size: small;padding: 10px;">
                        {{val}}<span (click)="removeFromList(val,i,answerCheck)" style="margin-left: 20px;cursor: pointer;">&times;</span>
                      </span>
                    </div>
                  </div>
                  <br><br>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="primary" outline="true" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="closeModal(editQuestion)">Cancel</button>
            <button mdbBtn type="submit" color="primary" class="waves-light" [disabled]="isSaving" mdbWavesEffect>Save
              <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
            </button>
          </div>
        </form>
      </div>
    </mdb-card>
  </div>
</div> -->






















<!-- <div #sn class="sidenav">
  <a href="javascript:void(0)" class="closebtn" style="margin-left: 20px;" (click)="closeNav(editQuestion)">&times;</a>
  <h3 style="margin-left: 12px;">Question {{editQuestion.id}}</h3><hr>
  <h4 style="margin-left: 14px;">{{editQuestion.description}}</h4><br>
  <h4 style="margin-left: 14px;">Answers : 
    <button class="btn btn-primary btn-sm" style="margin-left: 110px;border-radius: 3px;" [routerLink]="['/answer-check/new']">
      <fa-icon [icon]="'plus'"></fa-icon>
      <span>New Answer</span>
    </button>
  </h4>
  <div *ngFor="let answerCheck of answerChecks; let i=index">
    <p [routerLink]="['/answer-check', answerCheck.id, 'view' ]">{{i+1}}) {{answerCheck.name}}</p>
  </div><hr>
  <button type="submit" style="margin-left: 40px;" [routerLink]="['/question', editQuestion.id, 'edit']" class="btn btn-primary">
    <fa-icon [icon]="'pencil-alt'"></fa-icon>
    <span class="d-none d-md-inline">Edit</span>
  </button>
  <button type="submit" style="margin-left: 50px;" [routerLink]="['/question', { outlets: { popup: editQuestion.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
  class="btn btn-danger">
    <fa-icon [icon]="'times'"></fa-icon>
    <span class="d-none d-md-inline">Delete</span>
  </button>
</div> -->










<!-- <div #sd class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
  <button (click)="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div> -->
<!-- <div class="wrapper">
  <nav id="sidebar" class="navbar-dark bg-dark" [ngClass]="{'hidden':hideside}">
      <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
      </div>
  </nav> -->
<!--
  <table class="table table-bordered table-hover" style="background-color: white;">
      <thead>
      <th><span>ID</span></th>
      <th><span>Min Experience</th>
      <th><span>Description</span></th>
      <th><span>Expected Answers</th>
      <th><span>Sequence</span></th>
      <th><span>Is Active</th>
      <th><span>Skill</span></th>
    </tr>
  </thead>
  <tbody style="border-top: 1px solid black;">
    <tr *ngFor="let question of questions">
      <td>{{question.id}}</td>
      <td>{{question.min_experience}}</td>
      <td>{{question.description}}</td>
      <td>{{question.expected_answers}}</td>
      <td>{{question.sequence}}</td>
      <td>{{question.isActive}}</td>
      <td>{{question.skill?.name}}</td>
    </tr>
  </tbody>
</table>
-->