@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("//cdn.syncfusion.com/ej2/material.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css");
.form-dark .font-small {
  font-size: 0.8rem; }
  
  
  .form-dark .md-form label {
  color: #fff; }
  
  
  .form-dark .modal-header {
  border-bottom: none;
  }
// .cdk-drag-dragging{
//   cursor: grab;
// }
div.cdk-drop-list-dragging{
  cursor: grabbing;
}
.example-box :active{
  cursor: grab;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}


.mybtn {
  border-radius: 2px;
  padding: 8px 18px;
  // font-size: 12px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

// .mybtn:active {
//   transform: translate(0px, 5px);
//   // -webkit-transform: translate(0px, 5px);
//   // box-shadow: 0px 1px 0px 0px;
// }

.blue {
  // background-color: #55acee;
  background-color: dodgerblue;
  // box-shadow: 0px 5px 0px 0px darken($color: dodgerblue, $amount: 5);// #3C93D5;
}

// .blue:hover {
//   // background-color: #6FC6FF;
//   background-color: #55acee;
// }
