<form name="editForm3" role="form" novalidate #editForm3="ngForm">
  <mat-card style="padding:0px;">
      <br/>
      <h2>{{cq.statement}}</h2>
      <div>
        <p>{{cq.defn}}</p>
      </div>
      <mat-form-field class="full-width">
        <textarea matInput [(ngModel)]="cq.code" name="code" cdkTextareaAutosize cdkAutosizeMinRows="4" placeholder="Your Code">{{cq.code}}</textarea>
      </mat-form-field><br>
      <mat-selection-list #ansCheck [(ngModel)]="cq.category" name="category">
        <mat-list-option [value]="'Algorithms'">Algorithms</mat-list-option>
        <mat-list-option [value]="'Problem Solving'">Problem Solving</mat-list-option>
        <mat-list-option [value]="'Dynamic Programming'">Dynamic Programming</mat-list-option>
        <mat-list-option [value]="'Trees'">Trees</mat-list-option>
    </mat-selection-list>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </mat-card>
</form>