<div class="row">
    <div class="col-12" style="padding-right: 0px;
    padding-left: 0px;">
            

        <div *ngIf="!isCustomQuestion">
        <h2>Question ({{currentQuestionIndex+1}}/<span *ngIf="questions && questions.length">{{questions.length}}</span>):</h2>

        
        <wissen-question *ngIf="interview && currentQuestion" [interview]="interview" [question]='currentQuestion' [feedback]='feedback'
        [index]="currentQuestionIndex" [allQuestions]="allQuestions"

        (content)="getFormData($event)"
             (nextQuestion)="nextQuestion()"
            (previousQuestion)="previousQuestion()"
            (changeQuestionView)="showCustomQuestion()"></wissen-question>
        </div>

      

        <div *ngIf="isCustomQuestion">
                <h2>Custom Question:</h2>
                <wissen-custom-question *ngIf="interview && currentQuestion" [interview]="interview"
                     (nextQuestion)="customQuestionToggle()"></wissen-custom-question>
                </div>
    
        </div> 
    </div>