<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 60.5px;
    left: 0;
    /* background: #eee; */
    /* background: rgb(73,76,162); */
    /* background-color: rgb(29, 25, 25); */
    /* background-color: rgb(50,55,61); */

      background-color: rgb(52, 73, 94);

    /* background-image: url(https://colorlib.com/etc/bootstrap-sidebar/sidebar-06/images/bg_1.jpg); */
    /* background-image: url(https://images.unsplash.com/photo-1534142499731-a32a99935397?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80); */
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwzeqPWkHPpuUk-7RqtTitNNaM1OUIXkVs1XQcZqijpstUptom&usqp=CAU); */
    /* background-image: url(https://66.media.tumblr.com/505e48f9040a41d8d43b0122a57b3455/tumblr_ml0t2dPzR21snx50mo1_500.jpg); */
    /* background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-cool-gradient-fireworks-technology-background-material-backgroundgradientcolorfireworks-backgroundtechnical-materialposter-image_50058.jpg); */
    /* background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60); */
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 10px;
    font-family: poppins,Arial, sans-serif;
  }
  
  .sidenav li>a {
    padding: 9px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    /* color: #818181; */
    /* color:#2196F3; */
    color:rgba(255,255,255,.8); 
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  
  .sidenav li>a:hover {
    /* color: #f1f1f1;
    color: #064579;
    color:#fff; */
    color: #fac457;
  }
  .sidenav li.active > a {
	/* background-color: #064579;
  color: whitesmoke; */
  color: #fac45f;
  }


  .main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  /*padding: 0px 10px;*/
}
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav ul.li>a{font-size: 12px;}
  }
  </style>
  </head>
  <body id="wsc" (scroll)="sc()" style="background-color:lightgray;">
    <div #sn id="sn" class="sidenav">
        <h2 style="font-size:32px;font-weight:600;color: whitesmoke;margin-left: 15px;padding-bottom: 4px;">Skills</h2>
        <ul style="list-style-type:none;margin-left: 16px;">
          <li *ngFor="let sk of skillList;let i=index" id="{{sk}}" [ngClass]="{'active':isActive(sk)}" style="margin-left: -40px;">
            <a (click)="change(sk)"><i class="fab" [ngClass]="iconList[i]" [ngClass]="{'fa-codiepie': sk.name=='C++'}"></i>  {{sk.name}}</a>
          </li>
        </ul>
      <!-- <button type="button" class="btn btn-secondary"(click)="show()">hello</button> -->
      <hr style="margin-top: 30px;width: 110%;">
      <button class="btn btn-primary" (click)="showCNSK()" style="margin-left: 10px;border-radius: 3px;">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>New Skill</span>
      </button>
    </div>
    <div class="main">
      <wissen-screen-details [cs]="currentSkill"></wissen-screen-details>
    </div>
    </div>
    <div #SKM mdbModal #SKModal="mdbModal" class="modal zoomIn animated" id="CreateSkillModal"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabelSK" aria-hidden="true"
  style="margin-top: 40px;font-family: 'Roboto',sans-serif;" [config]="{backdrop: 'static'}" (click)="onClick($event)" >

  <div class="modal-dialog modal-dialog-scrollable form-dark" role="document" style="overflow-y: initial !important;">
    
    <mdb-card style="background-image: url(https://image.freepik.com/free-vector/abstract-realistic-technology-particle-background_52683-33063.jpg)" class="modal-content">
      
        <div class="modal-header text-center" style="color: whitesmoke;">
          <h4 class="modal-title w-100 font-weight-bold py-2">New Skill</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCNSK()">
            <span aria-hidden="true" class="white-text" style="margin-bottom: 60px;color: whitesmoke;">&times;</span>
          </button>
        </div>
        <form name="createSkillForm" role="form" novalidate (ngSubmit)="saveNewSK()" #createSkillForm="ngForm" style="overflow-y: auto;">
          <div class="modal-body" style="color: whitesmoke;">
            <div class="form-group">
              <label class="form-control-label" for="field_name">Name</label>
              <input type="text" class="form-control" name="name" id="field_name"
                  [(ngModel)]="newSkill.name" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" mdbBtn color="secondary" class="ml-4 waves-light" mdbWavesEffect data-dismiss="modal"
          (click)="closeCNSK()">Cancel</button>
            <button mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>Save
              <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
            </button>
          </div>
        </form>
    </mdb-card>
  </div>
  </div>
    <script>
    </script>
  </body>    
</html>