.button-common {
    &:focus {
        z-index: 100; // for elevating the blue highlight on border
    }
}

.excellent {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    @extend .button-common;
}

.satisfactory,
.unsatisfactory {
    @extend .button-common;
    border-radius: 0px;

    &.active {
    }
}

.poor {
    @extend .button-common;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.answer-quality-container {
    width: 100%;
    text-align: center;
    .answer-quality {
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .mat-raised-button {
        width: 100%;
    }
}
