<div class="answer-quality-container">
                Answer Quality
<div class="answer-quality">
  <button style="float: none" mat-raised-button [ngClass]="aq.toLowerCase()"
  *ngFor="let aq of answerQualityOptions; let i = index" 
  (click)="setSelectedAnswerQuality(aq)">
      {{aq}}
  </button>
</div>
</div>