.button-common:focus,
.excellent:focus,
.satisfactory:focus,
.unsatisfactory:focus,
.poor:focus {
    z-index: 100;
}

.excellent {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.satisfactory,
.unsatisfactory {
    border-radius: 0px;
}

.poor {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.answer-quality-container {
    width: 100%;
    text-align: center;
}

.answer-quality-container .answer-quality {
    margin-bottom: 10px;
}

@media (max-width: 375px) {
    .mat-raised-button {
        width: 100%;
        min-width: 200px;
    }
}
/*# sourceMappingURL=answer-quality.component.css.map */
