<div class="row justify-content-center">
  <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
          <h2>Soft Skills Feedback</h2>
          <div>
              <jhi-alert-error></jhi-alert-error>
         
              <div class="form-group">
                  <label class="form-control-label" jhiTranslate="interviewApp.softSkillsFeedback.communication" for="field_communication">Communication</label>
                  <select class="form-control" name="communication" [(ngModel)]="softSkillsFeedback.communication" id="field_communication" required>
                      <option value="POOR">{{'interviewApp.CommunicationSkills.POOR' | translate}}</option>
                      <option value="SATISFACTORY">{{'interviewApp.CommunicationSkills.SATISFACTORY' | translate}}</option>
                      <option value="GOOD">{{'interviewApp.CommunicationSkills.GOOD' | translate}}</option>
                  </select>
              </div>
              <div class="form-group">
                  <label class="form-control-label" jhiTranslate="interviewApp.softSkillsFeedback.motivationLevel" for="field_motivationLevel">Motivation Level</label>
                  <select class="form-control" name="motivationLevel" [(ngModel)]="softSkillsFeedback.motivationLevel" id="field_motivationLevel" required>
                      <option value="LOW">{{'interviewApp.MotivationLevel.LOW' | translate}}</option>
                      <option value="AVERAGE">{{'interviewApp.MotivationLevel.AVERAGE' | translate}}</option>
                      <option value="HIGH">{{'interviewApp.MotivationLevel.HIGH' | translate}}</option>
                  </select>
              </div>

          
          </div>
          <div>
              <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                  <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
          </div>
      </form>
  </div>
</div>
