<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-custom-question-heading" jhiTranslate="interviewApp.customQuestion.home.createOrEditLabel">Create or edit a Custom Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!customQuestion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="customQuestion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.question_text" for="field_question_text">Question Text</label>
                    <input type="text" class="form-control" name="question_text" id="field_question_text"
                        [(ngModel)]="customQuestion.question_text" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.question_text?.dirty && editForm.controls.question_text?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.question_text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.answerQuality" for="field_answerQuality">Answer Quality</label>
                    <select class="form-control" name="answerQuality" [(ngModel)]="customQuestion.answerQuality" id="field_answerQuality" >
                        <option value="EXCELLENT">{{'interviewApp.AnswerQuality.EXCELLENT' | translate}}</option>
                        <option value="SATISFACTORY">{{'interviewApp.AnswerQuality.SATISFACTORY' | translate}}</option>
                        <option value="UNSATISFACTORY">{{'interviewApp.AnswerQuality.UNSATISFACTORY' | translate}}</option>
                        <option value="POOR">{{'interviewApp.AnswerQuality.POOR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.answerText" for="field_answerText">Answer Text</label>
                    <input type="text" class="form-control" name="answerText" id="field_answerText"
                        [(ngModel)]="customQuestion.answerText" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.answerText?.dirty && editForm.controls.answerText?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.answerText?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.startedAt" for="field_startedAt">Started At</label>
                    <div class="d-flex">
                        <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="startedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.finishedAt" for="field_finishedAt">Finished At</label>
                    <div class="d-flex">
                        <input id="field_finishedAt" type="datetime-local" class="form-control" name="finishedAt" [(ngModel)]="finishedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.customQuestion.interview" for="field_interview">Interview</label>
                    <select class="form-control" id="field_interview" name="interview" [(ngModel)]="customQuestion.interview" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interviewOption.id === customQuestion.interview?.id ? customQuestion.interview : interviewOption" *ngFor="let interviewOption of interviews; trackBy: trackInterviewById">{{interviewOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
