<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.customQuestion.home.title">Custom Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-custom-question" [routerLink]="['/custom-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.customQuestion.home.createLabel">
            Create new Custom Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="customQuestions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="question_text"><span jhiTranslate="interviewApp.customQuestion.question_text">Question Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerQuality"><span jhiTranslate="interviewApp.customQuestion.answerQuality">Answer Quality</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerText"><span jhiTranslate="interviewApp.customQuestion.answerText">Answer Text</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="interviewApp.customQuestion.startedAt">Started At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishedAt"><span jhiTranslate="interviewApp.customQuestion.finishedAt">Finished At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interview.id"><span jhiTranslate="interviewApp.customQuestion.interview">Interview</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let customQuestion of customQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/custom-question', customQuestion.id, 'view' ]">{{customQuestion.id}}</a></td>
                <td>{{customQuestion.question_text}}</td>
                <td jhiTranslate="{{'interviewApp.AnswerQuality.' + customQuestion.answerQuality}}">{{customQuestion.answerQuality}}</td>
                <td>{{customQuestion.answerText}}</td>
                <td>{{customQuestion.startedAt | date:'medium'}}</td>
                <td>{{customQuestion.finishedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="customQuestion.interview">
                        <a [routerLink]="['../interview', customQuestion.interview?.id, 'view' ]" >{{customQuestion.interview?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/custom-question', customQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/custom-question', customQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'custom-question', { outlets: { popup: customQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
