<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customQuestion">
            <h2><span jhiTranslate="interviewApp.customQuestion.detail.title">Custom Question</span> {{customQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.customQuestion.question_text">Question Text</span></dt>
                <dd>
                    <span>{{customQuestion.question_text}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.customQuestion.answerQuality">Answer Quality</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.AnswerQuality.' + customQuestion.answerQuality}}">{{customQuestion.answerQuality}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.customQuestion.answerText">Answer Text</span></dt>
                <dd>
                    <span>{{customQuestion.answerText}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.customQuestion.startedAt">Started At</span></dt>
                <dd>
                    <span>{{customQuestion.startedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.customQuestion.finishedAt">Finished At</span></dt>
                <dd>
                    <span>{{customQuestion.finishedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.customQuestion.interview">Interview</span></dt>
                <dd>
                    <div *ngIf="customQuestion.interview">
                        <a [routerLink]="['/interview', customQuestion.interview?.id, 'view']">{{customQuestion.interview?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/custom-question', customQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
