@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    background: red;
}

.finish {
    width: 100%;
    margin: 30px;
    text-align: center;
}

.interview-container {
    display: block;
    margin: 0 auto;
}

.mat-horizontal-stepper-header {
    pointer-events: none;
}
