<div class="row">
    <div class="col-md-8 interview-container">

        <!-- <mat-vertical-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Candidate Information </ng-template>
              <wissen-candidate-information (getInterviewId)="getInterviewId($event)" (saveCandidateSuccess)="stepperNext(stepper)"></wissen-candidate-information>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
              <ng-template matStepLabel>Questions to ask</ng-template>
              <wissen-questions-container [interview]="interview" (nextStep)="stepperNext(stepper)"></wissen-questions-container>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Your feedback</ng-template>
            <wissen-inverview-feedback [interview]="interview" (nextStep)="stepperNext(stepper)"></wissen-interview-feedback>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Finish</ng-template>
            <div class="finish">Thank you for taking the interview. Please feel free to drop your feedback about the application.</div>
          </mat-step>
        </mat-vertical-stepper> -->
      
        
        <wissen-stepper>
            <wissen-stepper-step (click)="goToCandidateInformation()" [label]="'Candidate Information'">
                
                <wissen-candidate-information (getInterviewId)="getInterviewId($event)" (saveCandidateSuccess)="stepperNext(stepper)"></wissen-candidate-information>
            </wissen-stepper-step>
            <wissen-stepper-step [label]="'Questions to ask'">
                <wissen-questions-container [interview]="interview" [acs]="acs" [qs]="qs" [isPending]="isPending" (nextStep)="stepperNext($event)" (previousStep)="stepperPrevious($event)"></wissen-questions-container>
            </wissen-stepper-step>
            <!-- <wissen-stepper-step [label]="'Codes to solve'">
              <button class="btn btn-light" type="button" (click)="stepperPrevious($event)">&#8249;Back</button>
              <wissen-code-container [interview]="interview" [List]="codeList" (changeHandle)="setHandled($event)" (nextStep)="stepperNext(stepper)" (previousStep)="stepperPrevious($event)"></wissen-code-container>
            </wissen-stepper-step>
          <wissen-stepper-step [label]="'Code Details'">
            <button class="btn btn-light" type="button" (click)="stepperPrevious($event)">&#8249;Back</button>
            <wissen-code-detail [cq]="handledQuestion" (updateList)="updateList($event)" (nextStep)="stepperNext(stepper)" (previousStep)="stepperPrevious($event)"></wissen-code-detail>
          </wissen-stepper-step> -->
            <wissen-stepper-step [label]="'Soft Skills Feedback'">
                <button class="btn btn-light" type="button" (click)="stepperPrevious($event)">&#8249;Back</button>
              <wissen-soft-skill-feedback [interview]="interview" [isPending]="isPending" [softSkill]="softSkill" (nextStep)="stepperNext(stepper)" (previousStep)="stepperPrevious($event)"></wissen-soft-skill-feedback>
          </wissen-stepper-step>
            <wissen-stepper-step [label]="'Your feedback'">
                <button class="btn btn-light" type="button" (click)="stepperPrevious($event)">&#8249;Back</button>
                <wissen-inverview-feedback [interview]="interview" (nextStep)="stepperNext(stepper)" (previousStep)="stepperPrevious($event)"></wissen-interview-feedback>
            </wissen-stepper-step>
            <wissen-stepper-step [label]="'Finish'">
                <div class="finish">Thank you for taking the interview. Please feel free to drop your feedback about the application.</div>
            </wissen-stepper-step>
        </wissen-stepper>
    </div>
</div>