<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="questionFeedback">
            <h2><span jhiTranslate="interviewApp.questionFeedback.detail.title">Question Feedback</span> {{questionFeedback.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.questionFeedback.answer_quality">Answer Quality</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.AnswerQuality.' + questionFeedback.answer_quality}}">{{questionFeedback.answer_quality}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.startedAt">Started At</span></dt>
                <dd>
                    <span>{{questionFeedback.startedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.finishedAt">Finished At</span></dt>
                <dd>
                    <span>{{questionFeedback.finishedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.duration">Duration</span></dt>
                <dd>
                    <span>{{questionFeedback.duration}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.description">Description</span></dt>
                <dd>
                    <span>{{questionFeedback.description}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.interview">Interview</span></dt>
                <dd>
                    <div *ngIf="questionFeedback.interview">
                        <a [routerLink]="['/interview', questionFeedback.interview?.id, 'view']">{{questionFeedback.interview?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="interviewApp.questionFeedback.question">Question</span></dt>
                <dd>
                    <div *ngIf="questionFeedback.question">
                        <a [routerLink]="['/question', questionFeedback.question?.id, 'view']">{{questionFeedback.question?.description}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question-feedback', questionFeedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
