<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-question-feedback-heading" jhiTranslate="interviewApp.questionFeedback.home.createOrEditLabel">Create or edit a Question Feedback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!questionFeedback.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="questionFeedback.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.answer_quality" for="field_answer_quality">Answer Quality</label>
                    <select class="form-control" name="answer_quality" [(ngModel)]="questionFeedback.answer_quality" id="field_answer_quality" >
                        <option value="EXCELLENT">{{'interviewApp.AnswerQuality.EXCELLENT' | translate}}</option>
                        <option value="SATISFACTORY">{{'interviewApp.AnswerQuality.SATISFACTORY' | translate}}</option>
                        <option value="UNSATISFACTORY">{{'interviewApp.AnswerQuality.UNSATISFACTORY' | translate}}</option>
                        <option value="POOR">{{'interviewApp.AnswerQuality.POOR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.startedAt" for="field_startedAt">Started At</label>
                    <div class="d-flex">
                        <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="startedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.finishedAt" for="field_finishedAt">Finished At</label>
                    <div class="d-flex">
                        <input id="field_finishedAt" type="datetime-local" class="form-control" name="finishedAt" [(ngModel)]="finishedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.duration" for="field_duration">Duration</label>
                    <input type="number" class="form-control" name="duration" id="field_duration"
                        [(ngModel)]="questionFeedback.duration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="questionFeedback.description" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.interview" for="field_interview">Interview</label>
                    <select class="form-control" id="field_interview" name="interview" [(ngModel)]="questionFeedback.interview" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interviewOption.id === questionFeedback.interview?.id ? questionFeedback.interview : interviewOption" *ngFor="let interviewOption of interviews; trackBy: trackInterviewById">{{interviewOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.questionFeedback.question" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" [(ngModel)]="questionFeedback.question" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === questionFeedback.question?.id ? questionFeedback.question : questionOption" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
