<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.questionFeedback.home.title">Question Feedbacks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question-feedback" [routerLink]="['/question-feedback/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.questionFeedback.home.createLabel">
            Create new Question Feedback
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="questionFeedbacks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answer_quality"><span jhiTranslate="interviewApp.questionFeedback.answer_quality">Answer Quality</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="interviewApp.questionFeedback.startedAt">Started At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishedAt"><span jhiTranslate="interviewApp.questionFeedback.finishedAt">Finished At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="duration"><span jhiTranslate="interviewApp.questionFeedback.duration">Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="interviewApp.questionFeedback.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interview.id"><span jhiTranslate="interviewApp.questionFeedback.interview">Interview</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="question.description"><span jhiTranslate="interviewApp.questionFeedback.question">Question</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let questionFeedback of questionFeedbacks ;trackBy: trackId">
                <td><a [routerLink]="['/question-feedback', questionFeedback.id, 'view' ]">{{questionFeedback.id}}</a></td>
                <td jhiTranslate="{{'interviewApp.AnswerQuality.' + questionFeedback.answer_quality}}">{{questionFeedback.answer_quality}}</td>
                <td>{{questionFeedback.startedAt | date:'medium'}}</td>
                <td>{{questionFeedback.finishedAt | date:'medium'}}</td>
                <td>{{questionFeedback.duration}}</td>
                <td>{{questionFeedback.description}}</td>
                <td>
                    <div *ngIf="questionFeedback.interview">
                        <a [routerLink]="['../interview', questionFeedback.interview?.id, 'view' ]" >{{questionFeedback.interview?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="questionFeedback.question">
                        <a [routerLink]="['../question', questionFeedback.question?.id, 'view' ]" >{{questionFeedback.question?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/question-feedback', questionFeedback.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question-feedback', questionFeedback.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'question-feedback', { outlets: { popup: questionFeedback.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
