<!-- <p>
  {{interview.skill.name}}
</p>
<form name="editForm" role="form" novalidate #editForm="ngForm">
  <mat-card style="padding:0px;">
      <span (click)="goBack()">
         <mat-icon style="cursor: pointer">chevron_left</mat-icon>
     </span>
      <br/>
      <mat-form-field class="full-width">
        <textarea matInput [(ngModel)]="code" name="code" cdkTextareaAutosize cdkAutosizeMinRows="4" placeholder="Your Code"></textarea>
      </mat-form-field><br>
      <mat-selection-list #ansCheck [(ngModel)]="category" name="category">
        <mat-list-option>Algorithms</mat-list-option>
        <mat-list-option>Problem Solving</mat-list-option>
        <mat-list-option>Dynamic Programming</mat-list-option>
        <mat-list-option>Trees</mat-list-option>
    </mat-selection-list>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </mat-card>
</form> -->
<div>
  <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
          <h2>Code</h2>
          <div class="form-group">
            <label for="codeQuestion">Select Question</label>
            <select class="form-control" name="codeQuestion" [(ngModel)]="selectedQt" required>
              <option *ngFor="let el of List" value="{{el}}">{{el}}</option>
            </select>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" (click)="Refresh()">Refresh</button>
          </div>
      </form>
  </div>
</div>