<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.answerCheckEvalAreaMap.home.title">Answer Check Eval Area Maps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer-check-eval-area-map" [routerLink]="['/answer-check-eval-area-map/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.answerCheckEvalAreaMap.home.createLabel">
            Create new Answer Check Eval Area Map
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answerCheckEvalAreaMaps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="interviewApp.answerCheckEvalAreaMap.answerCheck">Answer Check</span></th>
            <th><span jhiTranslate="interviewApp.answerCheckEvalAreaMap.evaluationArea">Evaluation Area</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answerCheckEvalAreaMap of answerCheckEvalAreaMaps ;trackBy: trackId">
                <td><a [routerLink]="['/answer-check-eval-area-map', answerCheckEvalAreaMap.id, 'view' ]">{{answerCheckEvalAreaMap.id}}</a></td>
                <td>
                    <div *ngIf="answerCheckEvalAreaMap.answerCheck">
                        <a [routerLink]="['../answer-check', answerCheckEvalAreaMap.answerCheck?.id, 'view' ]" >{{answerCheckEvalAreaMap.answerCheck?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answerCheckEvalAreaMap.evaluationArea">
                        <a [routerLink]="['../evaluation-area', answerCheckEvalAreaMap.evaluationArea?.id, 'view' ]" >{{answerCheckEvalAreaMap.evaluationArea?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/answer-check-eval-area-map', answerCheckEvalAreaMap.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer-check-eval-area-map', answerCheckEvalAreaMap.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'answer-check-eval-area-map', { outlets: { popup: answerCheckEvalAreaMap.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
