<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answer-check-eval-area-map-heading" jhiTranslate="interviewApp.answerCheckEvalAreaMap.home.createOrEditLabel">Create or edit a Answer Check Eval Area Map</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answerCheckEvalAreaMap.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answerCheckEvalAreaMap.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheckEvalAreaMap.answerCheck" for="field_answerCheck">Answer Check</label>
                    <select class="form-control" id="field_answerCheck" name="answerCheck" [(ngModel)]="answerCheckEvalAreaMap.answerCheck" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="answerCheckOption.id === answerCheckEvalAreaMap.answerCheck?.id ? answerCheckEvalAreaMap.answerCheck : answerCheckOption" *ngFor="let answerCheckOption of answerchecks; trackBy: trackAnswerCheckById">{{answerCheckOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheckEvalAreaMap.evaluationArea" for="field_evaluationArea">Evaluation Area</label>
                    <select class="form-control" id="field_evaluationArea" name="evaluationArea" [(ngModel)]="answerCheckEvalAreaMap.evaluationArea" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="evaluationAreaOption.id === answerCheckEvalAreaMap.evaluationArea?.id ? answerCheckEvalAreaMap.evaluationArea : evaluationAreaOption" *ngFor="let evaluationAreaOption of evaluationareas; trackBy: trackEvaluationAreaById">{{evaluationAreaOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
