<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answerCheckEvalAreaMap">
            <h2><span jhiTranslate="interviewApp.answerCheckEvalAreaMap.detail.title">Answer Check Eval Area Map</span> {{answerCheckEvalAreaMap.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.answerCheckEvalAreaMap.answerCheck">Answer Check</span></dt>
                <dd>
                    <div *ngIf="answerCheckEvalAreaMap.answerCheck">
                        <a [routerLink]="['/answer-check', answerCheckEvalAreaMap.answerCheck?.id, 'view']">{{answerCheckEvalAreaMap.answerCheck?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="interviewApp.answerCheckEvalAreaMap.evaluationArea">Evaluation Area</span></dt>
                <dd>
                    <div *ngIf="answerCheckEvalAreaMap.evaluationArea">
                        <a [routerLink]="['/evaluation-area', answerCheckEvalAreaMap.evaluationArea?.id, 'view']">{{answerCheckEvalAreaMap.evaluationArea?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer-check-eval-area-map', answerCheckEvalAreaMap.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
