<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answerCheck">
            <h2><span jhiTranslate="interviewApp.answerCheck.detail.title">Answer Check</span> {{answerCheck.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.answerCheck.name">Name</span></dt>
                <dd>
                    <span>{{answerCheck.name}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.answerCheck.question">Question</span></dt>
                <dd>
                    <div *ngIf="answerCheck.question">
                        <a [routerLink]="['/question', answerCheck.question?.id, 'view']">{{answerCheck.question?.description}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer-check', answerCheck.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
