<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answer-check-heading" jhiTranslate="interviewApp.answerCheck.home.createOrEditLabel">Create or edit a Answer Check</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answerCheck.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answerCheck.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheck.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="answerCheck.name" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheck.question" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" [(ngModel)]="answerCheck.question" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="questionOption.id === answerCheck.question?.id ? answerCheck.question : questionOption" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.description}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
