.feedback-container {
    .full-width {
        width: 100%;
    }

    .button-common {
        &:focus {
            z-index: 100; // for elevating the blue highlight on border
        }
    }

    .selection-buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 20px;
        .selected {
            @extend .button-common;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0px;
        }
        .rejected {
            @extend .button-common;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0px;
        }
        .discuss {
            @extend .button-common;
            border-radius: 0;
        }
    }

    @media (max-width: 768px) {
        .selection-buttons {
            button {
                width: 100%;
            }
        }
    }
}
