.feedback-container .full-width {
    width: 100%;
}

.feedback-container .button-common:focus,
.feedback-container .selection-buttons .selected:focus,
.feedback-container .selection-buttons .rejected:focus,
.feedback-container .selection-buttons .discuss:focus {
    z-index: 100;
}

.feedback-container .selection-buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
}

.feedback-container .selection-buttons .selected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}

.feedback-container .selection-buttons .rejected {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
}

.feedback-container .selection-buttons .discuss {
    border-radius: 0;
}

@media (max-width: 768px) {
    .feedback-container .selection-buttons button {
        width: 100%;
    }
}
/*# sourceMappingURL=feedback.component.css.map */
