<div class="feedback-container">
    <mat-form-field class="full-width">
      <textarea matInput [(ngModel)]="feedback" name="feedback" 
      cdkTextareaAutosize
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5"
      placeholder="Your feedback (Optional)"></textarea>
    </mat-form-field>



    <div class="selection-buttons">
      <button mat-raised-button class="selected" (click)="setSelection('MUST_HIRE')">
        <mat-icon>thumb_up</mat-icon>
        MUST-HIRE
      </button><!--
      --><button mat-raised-button class="selected" (click)="setSelection('HIRE')">
        <mat-icon>thumb_up</mat-icon>
        HIRE
      </button><!--
      --><button mat-raised-button class="discuss" (click)="setSelection('KNOWLEDGE_GAP')">
        KNOWLEDGE-GAP
      </button>
      <button mat-raised-button class="rejected" (click)="setSelection('REJECT')">
        <mat-icon>thumb_down</mat-icon>
        Reject
      </button>
  </div>

  <div class="stepper-navigate-buttons" style="display:flex;justify-content: flex-end">
    <button mat-raised-button color="primary"
    (click)="save()" [disabled]="buttonDisabled">
        <mat-icon>save</mat-icon>&nbsp;Save
    </button> 
  </div>
</div>