<form name="editForm" role="form" novalidate #editForm="ngForm">
    <mat-card style="padding:0px;">
        <!-- <span (click)="goBack()">
           <mat-icon style="cursor: pointer">chevron_left</mat-icon>
       </span> -->
        <br/>

        <span style="white-space: pre-line;"> {{ question.question.description }}</span><br/>

        <mat-selection-list #ansCheck [(ngModel)]="selectedAnswerChecks" name="selectedAnswerChecks">
            <mat-list-option 
            *ngFor="let ansCheck of question.answerChecks; 
            let i = index" [value]="ansCheck.id" 
            [selected]="ac.includes(ansCheck.id)"
            >
                {{i+1}}. {{ansCheck.name}}
            </mat-list-option>
        </mat-selection-list>
        <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="feedback" name="feedback" cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="5" placeholder="Your feedback (Optional)"></textarea>

        </mat-form-field>
        
        <wissen-answer-quality name="quality" (selected)="getSelectedValue($event)"></wissen-answer-quality>


        <div class="button-container row">
            <div class="col-xs-12 col-sm-3 col-md-3" *ngIf="this.index!=0">
                        <button mat-raised-button style="float: none; margin: 5px;  background-color:lightskyblue;" (click)="previous()">
                        &nbsp;Previous Question
                        </button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <button mat-raised-button color="warn" class="skip-button" style="float: none; margin: 5px" (click)="skipQuestion()">
                    <mat-icon>skip_next</mat-icon>&nbsp;Skip Question
                </button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <button mat-raised-button (click)="customQuestion()" style="float: none; margin: 5px" type="button">
                 Custom Question
                </button>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <button mat-raised-button color="primary" [disabled]="buttonDisabled" style="float: none; margin: 5px" class="save-button" (click)="save()">
                    <mat-icon>save</mat-icon>&nbsp;Save
                </button>
            </div>
        </div>

    </mat-card>
</form>