.full-width {
    width: 100%;
}

::ng-deep .mat-pseudo-checkbox-checked {
    background: #673ab7;
}

.mat-card {
    padding: 0px;
}

@media (max-width: 768px) {
    ::ng-deep .mat-list-item .mat-list-option {
        height: auto !important;
    }
    ::ng-deep .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: auto !important;
    }
}

@media (max-width: 300px) {
    .mat-raised-button {
        width: 100%;
        margin: 5px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .button-container {
        margin-top: 20px;
    }
}

.save-button {
    float: right;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.skip-button {
    float: left;
}
/*# sourceMappingURL=question.component.css.map */
