$green: #009688;
$yellow: #eeff41;
$red: #ff7043;
.full-width {
    width: 100%;
}

::ng-deep .mat-pseudo-checkbox-checked {
    background: #673ab7;
}

@media (max-width: 768px) {
    ::ng-deep .mat-list-item .mat-list-option {
        height: auto !important;
    }
    ::ng-deep .mat-list-base .mat-list-item,
    .mat-list-base .mat-list-option {
        height: auto !important;
    }
}

@media (max-width: 375px) {
    .mat-raised-button {
        width: 100%;
    }
    .button-container {
        margin-top: 20px;
    }
}

.save-button {
    float: right;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.skip-button {
    float: left;
}
