<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <div class="row align-items-center">
            <span class="logo-img col ml-2"></span>
            <div class="col">
                <span> Interment</span> <span class="navbar-version">{{version}}</span>
            </div>
        </div>

    </a>



    <div class="navbar ml-auto">
        <!-- <a class="interview ml-auto mr-2" style="color: white;font-weight: normal;" routerLink="startinterview">
            <span>Start Interview</span>
        </a> -->

        <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <fa-icon icon="bars"></fa-icon>
        </a>
        <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                        <span>
                        <fa-icon icon="home"></fa-icon>
                        <span jhiTranslate="global.menu.home">Home</span>
                        </span>
                    </a>
                </li>

                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                            <span>
                        <fa-icon icon="th-list"></fa-icon>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
                            <li>
                                <a class="dropdown-item" routerLink="skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.skill">Skill</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="topic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.topic">Topic</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.question">Question</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="screen" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.screen">Question Bank</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="answer-check" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.answerCheck">Answer Check</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="interview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.interview">Interview</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="question-feedback" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.questionFeedback">Question Feedback</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="answer-check-feedback" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.answerCheckFeedback">Answer Check Feedback</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="interview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.interview">Interview</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="custom-question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.customQuestion">Custom Question</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="evaluation-area" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.evaluationArea">Evaluation Area</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="answer-check-eval-area-map" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.answerCheckEvalAreaMap">Answer Check Eval Area Map</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="soft-skills-feedback" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.softSkillsFeedback">Soft Skills Feedback</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="admin-user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span jhiTranslate="global.menu.entities.adminUser">Admin User</span>
                                </a>
                            </li>
                            <li>
                        <a class="dropdown-item" routerLink="question" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.entities.question">Question</span>
                        </a>
                    </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                </div>
                <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                        <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                        <li>
                            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="list" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li *ngIf="swaggerEnabled">
                            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="book" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li *ngIf="!inProduction">
                            <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                                <fa-icon icon="hdd" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages && languages.length > 1">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                        <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                        <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                        </span>
                        <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="clock" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" routerLink="sessions" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="cloud" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="true">
                            <a class="dropdown-item" (click)="logout()" id="logout">
                                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        <li *ngSwitchCase="false">
                            <a class="dropdown-item" (click)="login()" id="login">
                                <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.login">Sign in</span>
                            </a>
                        </li>
                        <!-- <li *ngSwitchCase="false">
                            <a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                                <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                                <span jhiTranslate="global.menu.account.register">Register</span>
                            </a>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </div>

    </div>


</nav>