<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-soft-skills-feedback-heading" jhiTranslate="interviewApp.softSkillsFeedback.home.createOrEditLabel">Create or edit a Soft Skills Feedback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!softSkillsFeedback.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="softSkillsFeedback.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.softSkillsFeedback.communication" for="field_communication">Communication</label>
                    <select class="form-control" name="communication" [(ngModel)]="softSkillsFeedback.communication" id="field_communication" >
                        <option value="POOR">{{'interviewApp.CommunicationSkills.POOR' | translate}}</option>
                        <option value="SATISFACTORY">{{'interviewApp.CommunicationSkills.SATISFACTORY' | translate}}</option>
                        <option value="GOOD">{{'interviewApp.CommunicationSkills.GOOD' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.softSkillsFeedback.motivationLevel" for="field_motivationLevel">Motivation Level</label>
                    <select class="form-control" name="motivationLevel" [(ngModel)]="softSkillsFeedback.motivationLevel" id="field_motivationLevel" >
                        <option value="LOW">{{'interviewApp.MotivationLevel.LOW' | translate}}</option>
                        <option value="AVERAGE">{{'interviewApp.MotivationLevel.AVERAGE' | translate}}</option>
                        <option value="HIGH">{{'interviewApp.MotivationLevel.HIGH' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.softSkillsFeedback.interview" for="field_interview">Interview</label>
                    <select class="form-control" id="field_interview" name="interview" [(ngModel)]="softSkillsFeedback.interview">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interviewOption.id === softSkillsFeedback.interview?.id ? softSkillsFeedback.interview : interviewOption" *ngFor="let interviewOption of interviews; trackBy: trackInterviewById">{{interviewOption.candidate}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
