<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.softSkillsFeedback.home.title">Soft Skills Feedbacks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-soft-skills-feedback" [routerLink]="['/soft-skills-feedback/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.softSkillsFeedback.home.createLabel">
            Create new Soft Skills Feedback
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="softSkillsFeedbacks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="interviewApp.softSkillsFeedback.communication">Communication</span></th>
            <th><span jhiTranslate="interviewApp.softSkillsFeedback.motivationLevel">Motivation Level</span></th>
            <th><span jhiTranslate="interviewApp.softSkillsFeedback.interview">Interview</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let softSkillsFeedback of softSkillsFeedbacks ;trackBy: trackId">
                <td><a [routerLink]="['/soft-skills-feedback', softSkillsFeedback.id, 'view' ]">{{softSkillsFeedback.id}}</a></td>
                <td jhiTranslate="{{'interviewApp.CommunicationSkills.' + softSkillsFeedback.communication}}">{{softSkillsFeedback.communication}}</td>
                <td jhiTranslate="{{'interviewApp.MotivationLevel.' + softSkillsFeedback.motivationLevel}}">{{softSkillsFeedback.motivationLevel}}</td>
                <td>
                    <div *ngIf="softSkillsFeedback.interview">
                        <a [routerLink]="['../interview', softSkillsFeedback.interview?.id, 'view' ]" >{{softSkillsFeedback.interview?.candidate}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/soft-skills-feedback', softSkillsFeedback.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/soft-skills-feedback', softSkillsFeedback.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'soft-skills-feedback', { outlets: { popup: softSkillsFeedback.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
