<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="softSkillsFeedback">
            <h2><span jhiTranslate="interviewApp.softSkillsFeedback.detail.title">Soft Skills Feedback</span> {{softSkillsFeedback.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.softSkillsFeedback.communication">Communication</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.CommunicationSkills.' + softSkillsFeedback.communication}}">{{softSkillsFeedback.communication}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.softSkillsFeedback.motivationLevel">Motivation Level</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.MotivationLevel.' + softSkillsFeedback.motivationLevel}}">{{softSkillsFeedback.motivationLevel}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.softSkillsFeedback.interview">Interview</span></dt>
                <dd>
                    <div *ngIf="softSkillsFeedback.interview">
                        <a [routerLink]="['/interview', softSkillsFeedback.interview?.id, 'view']">{{softSkillsFeedback.interview?.candidate}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/soft-skills-feedback', softSkillsFeedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
