<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-answer-check-feedback-heading" jhiTranslate="interviewApp.answerCheckFeedback.home.createOrEditLabel">Create or edit a Answer Check Feedback</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!answerCheckFeedback.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="answerCheckFeedback.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheckFeedback.answer_quality" for="field_answer_quality">Answer Quality</label>
                    <select class="form-control" name="answer_quality" [(ngModel)]="answerCheckFeedback.answer_quality" id="field_answer_quality" >
                        <option value="PASS">{{'interviewApp.AnswerCheckStatus.PASS' | translate}}</option>
                        <option value="FAIL">{{'interviewApp.AnswerCheckStatus.FAIL' | translate}}</option>
                        <option value="NOTSURE">{{'interviewApp.AnswerCheckStatus.NOTSURE' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheckFeedback.interview" for="field_interview">Interview</label>
                    <select class="form-control" id="field_interview" name="interview" [(ngModel)]="answerCheckFeedback.interview" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="interviewOption.id === answerCheckFeedback.interview?.id ? answerCheckFeedback.interview : interviewOption" *ngFor="let interviewOption of interviews; trackBy: trackInterviewById">{{interviewOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.answerCheckFeedback.answerCheck" for="field_answerCheck">Answer Check</label>
                    <select class="form-control" id="field_answerCheck" name="answerCheck" [(ngModel)]="answerCheckFeedback.answerCheck" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="answerCheckOption.id === answerCheckFeedback.answerCheck?.id ? answerCheckFeedback.answerCheck : answerCheckOption" *ngFor="let answerCheckOption of answerchecks; trackBy: trackAnswerCheckById">{{answerCheckOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
