<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.answerCheckFeedback.home.title">Answer Check Feedbacks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer-check-feedback" [routerLink]="['/answer-check-feedback/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.answerCheckFeedback.home.createLabel">
            Create new Answer Check Feedback
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answerCheckFeedbacks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answer_quality"><span jhiTranslate="interviewApp.answerCheckFeedback.answer_quality">Answer Quality</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interview.id"><span jhiTranslate="interviewApp.answerCheckFeedback.interview">Interview</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="answerCheck.name"><span jhiTranslate="interviewApp.answerCheckFeedback.answerCheck">Answer Check</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let answerCheckFeedback of answerCheckFeedbacks ;trackBy: trackId">
                <td><a [routerLink]="['/answer-check-feedback', answerCheckFeedback.id, 'view' ]">{{answerCheckFeedback.id}}</a></td>
                <td jhiTranslate="{{'interviewApp.AnswerCheckStatus.' + answerCheckFeedback.answer_quality}}">{{answerCheckFeedback.answer_quality}}</td>
                <td>
                    <div *ngIf="answerCheckFeedback.interview">
                        <a [routerLink]="['../interview', answerCheckFeedback.interview?.id, 'view' ]" >{{answerCheckFeedback.interview?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answerCheckFeedback.answerCheck">
                        <a [routerLink]="['../answer-check', answerCheckFeedback.answerCheck?.id, 'view' ]" >{{answerCheckFeedback.answerCheck?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/answer-check-feedback', answerCheckFeedback.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer-check-feedback', answerCheckFeedback.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'answer-check-feedback', { outlets: { popup: answerCheckFeedback.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
