<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answerCheckFeedback">
            <h2><span jhiTranslate="interviewApp.answerCheckFeedback.detail.title">Answer Check Feedback</span> {{answerCheckFeedback.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.answerCheckFeedback.answer_quality">Answer Quality</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.AnswerCheckStatus.' + answerCheckFeedback.answer_quality}}">{{answerCheckFeedback.answer_quality}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.answerCheckFeedback.interview">Interview</span></dt>
                <dd>
                    <div *ngIf="answerCheckFeedback.interview">
                        <a [routerLink]="['/interview', answerCheckFeedback.interview?.id, 'view']">{{answerCheckFeedback.interview?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="interviewApp.answerCheckFeedback.answerCheck">Answer Check</span></dt>
                <dd>
                    <div *ngIf="answerCheckFeedback.answerCheck">
                        <a [routerLink]="['/answer-check', answerCheckFeedback.answerCheck?.id, 'view']">{{answerCheckFeedback.answerCheck?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer-check-feedback', answerCheckFeedback.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
