<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title
	th:text="#{email.feedback.title(${interviewSummary.interview.candidate})}">
</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="#{email.feedback.greeting}">Hi</p>
	<p
		th:text="#{email.feedback.text1(${interviewSummary.interview.result})}">
		The candidate is {0} for this round, below is the detailed feedback
		for the same.</p>
	<h1>Feedback</h1>
	>
	<table>
		<thead>
			<tr>
				<th>Questions</th>
				<th>Answer feedback</th>
				<th>Quality</th>
			</tr>
		</thead>
		<tbody>
			<div th:remove="tag"
				th:each="question : ${interviewSummary.questions}"
				th:with="answerCheckCount=${question.answerCheckFeedbacks.size()}">
				<tr>
					<td th:text="${question.questionFeedback.question.description}"
						th:rowspan="${order.answerCheckFeedbacks.size()}"></td>
					<td
						th:text="${answerCheckCount>0}?${question.answerCheckFeedbacks[0].answerCheck.name}:''"></td>
					<td
						th:text="${answerCheckCount>0}?${question.answerCheckFeedbacks[0].answer_quality}:''"></td>
				</tr>
				<tr
					th:each="answerCheckFeedback,stats : ${question.answerCheckFeedbacks}"
					th:if="${!stats.first}">
					<td th:text="${answerCheckFeedback.answerCheck.name}"></td>
					<td th:text="${answerCheckFeedback.answer_quality}"></td>
				</tr>
			</div>
		</tbody>
	</table>
	<p>
		<span th:text="#{email.feedback.regards}">Regards, </span> <br /> <em
			th:text="${user.firstName} + ' ' + ${user.lastName}">User Name</em>
	</p>
</body>
</html>
