<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.feedback.title(${interviewSummary.interview.candidate})}">
    </title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

    <style>
        .fa {
            font-family: 'FontAwesome' !important;
        }
        
        p {
            padding: 5px 10px 5px;
            margin: 0px;
        }
        
        .left-padding {
            padding-left: 5px;
        }
        
        .answer-checks {
            padding-left: 20px;
        }
        
        table {
            border: 1px solid #f7f0f0;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <table class="MsoTable15Grid4Accent5" border="1" cellspacing="0" cellpadding="0" bordercolor="#ffffff">
        <tbody>
            <tr>
                <td width="601" colspan="2" valign="center" bgcolor="#cecece">
                    <p class="MsoNormal" align="center" style="text-align:center">
                        <b>Interview Summary</b>
                    </p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:0" bgcolor="#f2f2f2">
                <td width="300" valign="center">
                    <p class="MsoNormal" style="mso-yfti-cnfc:68"><span lang="EN-IN">Candidate Name</span></p>
                </td>
                <td width="300" valign="center">
                    <p class="MsoNormal" style="mso-yfti-cnfc:64" th:text="${interviewSummary.interview.candidate}"><span lang="EN-IN"></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:1">
                <td width="300" valign="center">
                    <p class="MsoNormal" style="mso-yfti-cnfc:4"><span lang="EN-IN">Skill</span></p>
                </td>
                <td width="300" valign="center">
                    <p class="MsoNormal " th:text="${interviewSummary.interview.skill.name}"><span lang=" EN-IN "></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:2 " bgcolor="#f2f2f2 ">
                <td width="300 " valign="center">
                    <p class="MsoNormal " style="mso-yfti-cnfc:68 "><span lang="EN-IN ">Experience</span></p>
                </td>
                <td width="300 " valign="center">
                    <p class="MsoNormal" th:text="|${interviewSummary.interview.experience} years|"></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:3 ">
                <td width="300 " valign="center">
                    <p class="MsoNormal " style="mso-yfti-cnfc:4 "><span lang="EN-IN ">Interviewer Name</span></p>
                </td>
                <td width="300 " valign="center">
                    <p class="MsoNormal "><span lang="EN-IN "><em th:text="${user.firstName} + ' ' + ${user.lastName}">User Name</em></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:3" bgcolor="#f2f2f2 ">
                <td width="300 " valign="center">
                    <p class="MsoNormal " style="mso-yfti-cnfc:4 "><span lang="EN-IN ">Selection Decision</span></p>
                </td>
                <td width="300 " valign="center" style="color:#000000 ">
                    <p class="MsoNormal "><b th:text="${interviewSummary.interview.result}"></b></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:3" bgcolor="#f2f2f2 ">
                <td width="300 " valign="center">
                    <p class="MsoNormal " style="mso-yfti-cnfc:4 "><span lang="EN-IN ">Final Interview Feedback</span></p>
                </td>
                <td width="300 " valign="center" style="color:#000000 ">
                    <p class="MsoNormal "><b th:text="${interviewSummary.interview.feedback}"></b></p>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <table class="MsoTable15Grid4Accent5 " border="1 " cellspacing="0 " cellpadding="0 " bordercolor="#ffffff ">
        <tbody>
            <tr>
                <td width="601 " colspan="3 " valign="center" bgcolor="#cecece ">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN ">Technical Evaluation Summary</span></b></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:0 " bgcolor="#e8e8e8 ">
                <td width="368 " valign="center">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN ">Evaluation Area</span></b></p>
                </td>
                <td width="133 " valign="center">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN ">Points</span></b></p>
                </td>
                <td width="100 " valign="center">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN ">Rating</span></b></p>
                </td>
            </tr>

            <div th:remove="tag " th:each="evaluationSummaryMap,iterstat: ${interviewSummary.evaluationSummary} ">
                <tr th:style=" ${iterstat.index%2==1} ? 'background:#F2F2F2' : '' ">
                    <td>
                        <p class="MsoNormal " th:text="${evaluationSummaryMap.key} "> </p>
                    </td>
                    <td>
                        <p class="MsoNormal " th:text="|${evaluationSummaryMap.value[0]} / ${evaluationSummaryMap.value[1]}| "></p>
                    </td>
                    <td class="left-padding">
                        <span th:if="${evaluationSummaryMap.value[2] != 0}">
                            <th:block th:each="i: ${#numbers.sequence(1, evaluationSummaryMap.value[2])}">
                                <span>
                                <i style="font-size: 25px;color: green "> * </i>
                           </span>
                        </th:block>
                        </span>
                        <span th:if="${evaluationSummaryMap.value[2] != 5}">
                            <th:block th:each="i: ${#numbers.sequence(1, 5 - evaluationSummaryMap.value[2])}">
                                <span>
                                <i style="font-size: 25px;color: #D3D3D3 "> * </i>
                           </span>
                        </th:block>
                        </span>
                    </td>
                </tr>
            </div>

        </tbody>
    </table>
    <br/>
    <table class="MsoTable15Grid4Accent5 " border="1 " cellspacing="0 " cellpadding="0 " width="604 " bordercolor="#FFFFFF ">
        <tbody>
            <tr>
                <td width="604 " colspan="2 " valign="center" bgcolor="#cecece ">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN ">Soft SkillsEvaluation Summary</span></b></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:0 ">
                <td width="302 " valign="center" bgcolor="#f2f2f2 ">
                    <p class="MsoNormal "><span lang="EN-IN " style="mso-bidi-font-weight:bold ">Communication</span></p>
                </td>
                <!--         <td width="302 " valign="center" bgcolor="#f2f2f2 ">
                    <p class="MsoNormal " style="mso-yfti-cnfc:64 "><span lang="EN-IN ">Clear and precise</span></p> -->
                <td width="300" valign="center" bgcolor="#f2f2f2 ">
                    <p class="MsoNormal" style="mso-yfti-cnfc:64"><span lang="EN-IN" th:text="${interviewSummary.softSkillsFeedback.communication}"></span></p>
                </td>
            </tr>
            <tr style="mso-yfti-irow:1;mso-yfti-lastrow:yes ">
                <td width="302 " valign="center">
                    <p class="MsoNormal "><span lang="EN-IN " style="mso-bidi-font-weight:bold ">Motivation Level</span></p>
                </td>

                <!--         <td width="302 " valign="center">
                    <p class="MsoNormal "><span lang="EN-IN ">High</span></  -->
                <td width="300" valign="center">
                    <p class="MsoNormal" style="mso-yfti-cnfc:64"><span lang="EN-IN" th:text="${interviewSummary.softSkillsFeedback.motivationLevel}"></span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>

    <table class="MsoTable15Grid4Accent5 " border="1 " cellspacing="0 " cellpadding="0 " bordercolor="#FFFFFF ">
        <tbody>
            <tr>
                <td width="601 " colspan="3 " valign="center" bgcolor="#cecece ">
                    <p class="MsoNormal " align="center "><b><span lang="EN-IN " >Technical Evaluation Details </span></b></p>
                </td>
            </tr>
            <tr bgcolor="#F2F2F2 ">
                <td width="368 " valign="center">
                    <p class="MsoNormal " align="center "><b><i><span lang="EN-IN ">Question and answer</span></i></b></p>
                </td>
                <td width="95 " valign="center">
                    <p class="MsoNormal " align="center "><b><i><span lang="EN-IN ">Rating</span></i></b></p>
                </td>
                <td width="138 " valign="center">
                    <p class="MsoNormal " align="center "><b><i><span lang="EN-IN ">Comments</span></i></b></p>
                </td>
            </tr>
            <div th:remove="tag " th:each="question,iterstat : ${interviewSummary.questions} ">
                <tr>
                    <td width="368 " valign="center">
                        <p th:text="${question.questionFeedback.question.description} " />
                        <span th:each="answerCheckFeedback,stats : ${question.answerCheckFeedbacks} ">
                <span>
                    <p class="answer-checks" th:style="${#strings.toString(answerCheckFeedback.answer_quality)=='PASS' } ? 'color:green': 'color:red' "   th:text="${answerCheckFeedback.answerCheck.name} "/>
                </span>
                        </span>
                    </td>
                    <td class="left-padding" width="95 " valign="center ">
                        <span th:each="rating : ${question.getRating()} ">  
                        <span>
                             <i style="font-size: 25px;color: green "> * </i>
                        </span>
                        </span>
                        <span th:each="rating : ${question.getGrayRating()} ">  
                                <span>
                                     <i style="font-size: 25px;color: #D3D3D3 "> * </i>
                                </span>
                        </span>
                    </td>
                    <td width="138 " valign="center ">
                        <p lang="EN-IN " th:text="${question.questionFeedback.description} ">Sample Feedback</p>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
</body>

</html>