<form class="candidate-info-container col-md-10" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <mat-form-field style="border-left: none;">

        <input type="text" matInput placeholder="Name" name="candidate" [(ngModel)]="interview.candidate" style="border-left: none;" required/>
    </mat-form-field>
    <div [hidden]="!(editForm.controls.candidate?.dirty && editForm.controls.candidate?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.candidate?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
              </small>
    </div>

    <mat-form-field hintLabel="Number of years" style="border-left: none;">

        <input type="number" matInput placeholder="Experience" name="experience" [(ngModel)]="interview.experience" min="0" style="border-left: none;" required/>
    </mat-form-field>

    <div [hidden]="!(editForm.controls.experience?.dirty && editForm.controls.experience?.invalid)">
        <small class="form-text text-danger" [hidden]="!editForm.controls.experience?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                  This field should be at least 0.
              </small>
        <small class="form-text text-danger" [hidden]="!editForm.controls.experience?.errors?.number" jhiTranslate="entity.validation.number">
                  This field should be a number.
              </small>
    </div>
    </div>


    <mat-form-field style="border-left: none;">
        <mat-select placeholder="Skill" name="skill" [(ngModel)]="interview.skill" style="border-left: none;" required>
            <mat-option [value]="skillOption.id === interview.skill?.id ? interview.skill : skillOption" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button mat-raised-button color="primary" [disabled]="(editForm.controls.candidate?.invalid || editForm.controls.experience?.invalid || editForm.controls.skill?.invalid)">
            Start Interview
      </button>
    </div>
</form>