<form name="editForm" role="form" novalidate #editForm="ngForm">
  <mat-card style="padding:0px;">
                  <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="question" name="question" 
                    placeholder="Question" />
                  </mat-form-field>   
  
                   <mat-form-field class="full-width">
                                  <textarea matInput [(ngModel)]="feedback" name="feedback" 
                                  cdkTextareaAutosize
                                  cdkAutosizeMinRows="4"
                                  cdkAutosizeMaxRows="5"
                                  placeholder="Your feedback (Optional)"></textarea>
                  </mat-form-field>   
                  <wissen-answer-quality (selected)="getSelectedValue($event)"></wissen-answer-quality>
  
               
                  <div>
                  <button mat-raised-button color="warn" (click)="cancel()">
                      Cancel
                  </button>
                  <button mat-raised-button color="primary" [disabled]="buttonDisabled"
                  class="save-button"
                   (click)="save()">
                      <mat-icon>save</mat-icon>&nbsp;Save
                  </button> 
                  </div>
  
  </mat-card>
  </form>