<div class="main">
    <section class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                    <!-- <div class="row">  
                    <div class="col-lg-3 order-2 order-lg-1 align-self-center"></div> -->
                        <!-- <div class="col-lg-4 order-2 order-lg-1 align-self-center"> -->
                                <button class="btn btn-primary my-2" style="box-shadow: 3px 3px 3px 3px grey;" routerLink="startinterview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Start interview
                                    </button>
                                <button class="btn btn-primary my-2" style="box-shadow: 3px 3px 3px 3px grey;" (click)="resume(pendingId)" *ngIf="this.isAuthenticated() && isPendingInTimeLimit"> Resume Interview
                                    </button> 
                            <!-- </div></div>   -->
                  
                    <h3><strong>Lead the interview as <i>Expert</i></strong></h3>
                    <p class="lead"> Have you ever struggled to select the right candidate? <br/> Doesn't matter, Because we will assist you to pick up the right talent
                        <svg class="lnr lnr-smile"><use xlink:href="#lnr-smile"></use></svg>
                    </p>
                   
                        

                </div>
                

              
                <div class="col-lg-6 order-1 order-lg-2"><img src="../../content/images/interview_home.jpg" alt="..." class="img-fluid"></div>
            </div>
        </div>
    </section>
</div>