/* ==========================================================================
Main page styles
========================================================================== */
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
}

.main {
    padding-top: 10px;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
        background-size: contain;
    }
}
/*# sourceMappingURL=home.css.map */
