<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interview">
            <h2><span jhiTranslate="interviewApp.interview.detail.title">Interview</span> {{interview.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.interview.interviewer">Interviewer</span></dt>
                <dd>
                    <span>{{interview.interviewer}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.candidate">Candidate</span></dt>
                <dd>
                    <span>{{interview.candidate}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.createdAt">Created At</span></dt>
                <dd>
                    <span>{{interview.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.startedAt">Started At</span></dt>
                <dd>
                    <span>{{interview.startedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.finishedAt">Finished At</span></dt>
                <dd>
                    <span>{{interview.finishedAt}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.InterviewStatus.' + interview.status}}">{{interview.status}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.result">Result</span></dt>
                <dd>
                    <span jhiTranslate="{{'interviewApp.InterviewResult.' + interview.result}}">{{interview.result}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.feedback">Feedback</span></dt>
                <dd>
                    <span>{{interview.feedback}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.experience">Experience</span></dt>
                <dd>
                    <span>{{interview.experience}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.interview.skill">Skill</span></dt>
                <dd>
                    <div *ngIf="interview.skill">
                        <a [routerLink]="['/skill', interview.skill?.id, 'view']">{{interview.skill?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interview', interview.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
