<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-interview-heading" jhiTranslate="interviewApp.interview.home.createOrEditLabel">Create or edit a Interview</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!interview.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="interview.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.interviewer" for="field_interviewer">Interviewer</label>
                    <input type="text" class="form-control" name="interviewer" id="field_interviewer"
                        [(ngModel)]="interview.interviewer" required/>
                    <div [hidden]="!(editForm.controls.interviewer?.dirty && editForm.controls.interviewer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.interviewer?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.candidate" for="field_candidate">Candidate</label>
                    <input type="text" class="form-control" name="candidate" id="field_candidate"
                        [(ngModel)]="interview.candidate" required/>
                    <div [hidden]="!(editForm.controls.candidate?.dirty && editForm.controls.candidate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.candidate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.startedAt" for="field_startedAt">Started At</label>
                    <div class="d-flex">
                        <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="startedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.finishedAt" for="field_finishedAt">Finished At</label>
                    <div class="d-flex">
                        <input id="field_finishedAt" type="datetime-local" class="form-control" name="finishedAt" [(ngModel)]="finishedAt" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="interview.status" id="field_status" >
                        <option value="CREATED">{{'interviewApp.InterviewStatus.CREATED' | translate}}</option>
                        <option value="STARTED">{{'interviewApp.InterviewStatus.STARTED' | translate}}</option>
                        <option value="FINISHED">{{'interviewApp.InterviewStatus.FINISHED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.result" for="field_result">Result</label>
                    <select class="form-control" name="result" [(ngModel)]="interview.result" id="field_result" >
                        <option value="MUST_HIRE">{{'interviewApp.InterviewResult.MUST_HIRE' | translate}}</option>
                        <option value="HIRE">{{'interviewApp.InterviewResult.HIRE' | translate}}</option>
                        <option value="KNOWLEDGE_GAP">{{'interviewApp.InterviewResult.KNOWLEDGE_GAP' | translate}}</option>
                        <option value="REJECT">{{'interviewApp.InterviewResult.REJECT' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.feedback" for="field_feedback">Feedback</label>
                    <input type="text" class="form-control" name="feedback" id="field_feedback"
                        [(ngModel)]="interview.feedback" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.feedback?.dirty && editForm.controls.feedback?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.feedback?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.experience" for="field_experience">Experience</label>
                    <input type="number" class="form-control" name="experience" id="field_experience"
                        [(ngModel)]="interview.experience" min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.experience?.dirty && editForm.controls.experience?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.experience?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.experience?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.interview.skill" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" name="skill" [(ngModel)]="interview.skill" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillOption.id === interview.skill?.id ? interview.skill : skillOption" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
