<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.interview.home.title">Interviews</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-interview" [routerLink]="['/interview/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.interview.home.createLabel">
            Create new Interview
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="interviews">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="interviewer"><span jhiTranslate="interviewApp.interview.interviewer">Interviewer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidate"><span jhiTranslate="interviewApp.interview.candidate">Candidate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="interviewApp.interview.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="interviewApp.interview.startedAt">Started At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="finishedAt"><span jhiTranslate="interviewApp.interview.finishedAt">Finished At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="interviewApp.interview.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="result"><span jhiTranslate="interviewApp.interview.result">Result</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="feedback"><span jhiTranslate="interviewApp.interview.feedback">Feedback</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="experience"><span jhiTranslate="interviewApp.interview.experience">Experience</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skill.name"><span jhiTranslate="interviewApp.interview.skill">Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let interview of interviews ;trackBy: trackId">
                <td><a [routerLink]="['/interview', interview.id, 'view' ]">{{interview.id}}</a></td>
                <td>{{interview.interviewer}}</td>
                <td>{{interview.candidate}}</td>
                <td>{{interview.createdAt | date:'medium'}}</td>
                <td>{{interview.startedAt | date:'medium'}}</td>
                <td>{{interview.finishedAt | date:'medium'}}</td>
                <td jhiTranslate="{{'interviewApp.InterviewStatus.' + interview.status}}">{{interview.status}}</td>
                <td jhiTranslate="{{'interviewApp.InterviewResult.' + interview.result}}">{{interview.result}}</td>
                <td>{{interview.feedback}}</td>
                <td>{{interview.experience}}</td>
                <td>
                    <div *ngIf="interview.skill">
                        <a [routerLink]="['../skill', interview.skill?.id, 'view' ]" >{{interview.skill?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/interview', interview.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/interview', interview.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'interview', { outlets: { popup: interview.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
