<ng-template  [ngIf]="!isVertical||isVertical">
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="selectionChanged($event)">
        <mat-step *ngFor="let step of steps; let i = index" [stepControl]="step.form" [label]="step.label" [optional]="step.isOptional">
            <ng-container *ngTemplateOutlet="step.template"></ng-container>
        </mat-step>
    </mat-horizontal-stepper>
</ng-template>

<ng-template [ngIf]="false" #vertical>
    <mat-vertical-stepper #stepper [linear]="isLinear" (selectionChange)="selectionChanged($event)">
        <mat-step *ngFor="let step of steps; let i = index" [stepControl]="step.form" [label]="step.label" [optional]="step.isOptional">
            <ng-container *ngTemplateOutlet="step.template"></ng-container>
        </mat-step>
    </mat-vertical-stepper>
</ng-template>
