<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.adminUser.home.title">Admin Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-admin-user" [routerLink]="['/admin-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.adminUser.home.createLabel">
            Create a new Admin User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="adminUsers?.length === 0">
        <span jhiTranslate="interviewApp.adminUser.home.notFound">No adminUsers found</span>
    </div>
    <div class="table-responsive" *ngIf="adminUsers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="interviewApp.adminUser.emailId">Email Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let adminUser of adminUsers ;trackBy: trackId">
                <td><a [routerLink]="['/admin-user', adminUser.id, 'view' ]">{{adminUser.id}}</a></td>
                <td>{{adminUser.emailId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/admin-user', adminUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin-user', adminUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/admin-user', { outlets: { popup: adminUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
