<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="question">
            <h2><span jhiTranslate="interviewApp.question.detail.title">Question</span> {{question.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="interviewApp.question.min_experience">Min Experience</span></dt>
                <dd>
                    <span>{{question.min_experience}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.description">Description</span></dt>
                <dd>
                    <span>{{question.description}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.expected_answers">Expected Answers</span></dt>
                <dd>
                    <span>{{question.expected_answers}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.sequence">Sequence</span></dt>
                <dd>
                    <span>{{question.sequence}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.isActive">Is Active</span></dt>
                <dd>
                    <span>{{question.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.skill">Skill</span></dt>
                <dd>
                    <div *ngIf="question.skill">
                        <a [routerLink]="['/skill', question.skill?.id, 'view']">{{question.skill?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="interviewApp.question.topic">Topic</span></dt>
                <dd>
                    <div *ngIf="question.topic">
                        <a [routerLink]="['/topic', question.topic?.id, 'view']">{{question.topic?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/question', question.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
