<div>
    <h2 id="page-heading">
        <span jhiTranslate="interviewApp.question.home.title">Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question" [routerLink]="['/question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="interviewApp.question.home.createLabel">
            Create a new Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="questions?.length === 0">
        <span jhiTranslate="interviewApp.question.home.notFound">No questions found</span>
    </div>
    <div class="table-responsive" *ngIf="questions?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="min_experience"><span jhiTranslate="interviewApp.question.min_experience">Min Experience</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="interviewApp.question.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expected_answers"><span jhiTranslate="interviewApp.question.expected_answers">Expected Answers</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sequence"><span jhiTranslate="interviewApp.question.sequence">Sequence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="interviewApp.question.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skill.name"><span jhiTranslate="interviewApp.question.skill">Skill</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="topic.name"><span jhiTranslate="interviewApp.question.topic">Topic</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let question of questions ;trackBy: trackId">
                <td><a [routerLink]="['/question', question.id, 'view' ]">{{question.id}}</a></td>
                <td>{{question.min_experience}}</td>
                <td>{{question.description}}</td>
                <td>{{question.expected_answers}}</td>
                <td>{{question.sequence}}</td>
                <td>{{question.isActive}}</td>
                <td>
                    <div *ngIf="question.skill">
                        <a [routerLink]="['/skill', question.skill?.id, 'view' ]" >{{question.skill?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="question.topic">
                        <a [routerLink]="['/topic', question.topic?.id, 'view' ]" >{{question.topic?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/question', question.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question', question.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question', { outlets: { popup: question.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
