<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-question-heading" jhiTranslate="interviewApp.question.home.createOrEditLabel">Create or edit a Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!question.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="question.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.min_experience" for="field_min_experience">Min Experience</label>
                    <input type="number" class="form-control" name="min_experience" id="field_min_experience"
                        [(ngModel)]="question.min_experience" min="0" jhiMin="0"/>
                    <div [hidden]="!(editForm.controls.min_experience?.dirty && editForm.controls.min_experience?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.min_experience?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.min_experience?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="question.description" required maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.expected_answers" for="field_expected_answers">Expected Answers</label>
                    <input type="text" class="form-control" name="expected_answers" id="field_expected_answers"
                        [(ngModel)]="question.expected_answers" maxlength="2000"/>
                    <div [hidden]="!(editForm.controls.expected_answers?.dirty && editForm.controls.expected_answers?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.expected_answers?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2000 }">
                        This field cannot be longer than 2000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.sequence" for="field_sequence">Sequence</label>
                    <input type="number" class="form-control" name="sequence" id="field_sequence"
                           [(ngModel)]="question.sequence"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                           [(ngModel)]="question.isActive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.skill" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" name="skill" [(ngModel)]="question.skill" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="skillOption.id === question.skill?.id ? question.skill : skillOption" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="interviewApp.question.topic" for="field_topic">Topic</label>
                    <select class="form-control" id="field_topic" name="topic" [(ngModel)]="question.topic" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="topicOption.id === question.topic?.id ? question.topic : topicOption" *ngFor="let topicOption of topics; trackBy: trackTopicById">{{topicOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>

